<a href="https://colab.research.google.com/github/Niharikajogi223/Machine_Learning_assignments/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 9-program

Student_list_lbs =[]
N = int(input("enter the weights of  N students:")) #taking user input
for s in range(0,N):
  L1 = int(input()) 
  Student_list_lbs.append(L1)
print("weights  in lbs L1:", Student_list_lbs)
Student_list_Kgs=[]
for j in Student_list_lbs:
  Student_list_Kgs.append(round((j/2.20462),2)) # to convert lbs to kgs---> the lbs should be divided by 2.2046 to get in kgs
print("weights in kgs :" , Student_list_Kgs)

enter the weights of  N students:2
23
43
weights  in lbs L1: [23, 43]
weights in kgs : [10.43, 19.5]

In [ ]:
#Question 1-program

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() #sorting the elements
print("sorted order: " , ages)
a = min(ages)
b = max(ages)
print("min and values in the list:" , (a,b)) #finding min max values
ages.append(a)
ages.append(b)
print("Adding min and max values to the list:" ,ages) #adding min and max value to the list
#ages.sort()
#print(ages)
n = len(ages) #average age
average = sum(ages)/n
print("the average age is :" , average)
range = max(ages) - min(ages)
print("ranges of the ages:" , range)  #range of ages
#finding the median age
if n % 2 == 0:  
  median_age1 = ages[n//2]
  median_age2 = ages[n//2 - 1]
  median_age = (median_age1 +  median_age2) / 2
else:
  median_age = ages[n//2]
print("median  age is:" , median_age)

sorted order:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min and values in the list: (19, 26)
Adding min and max values to the list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
the average age is : 22.75
ranges of the ages: 7
median  age is: 24.0

In [ ]:
#Question 2-program

dog = {} #creating empty list dog
dog = { "name":"cassie","color": "black","breed":"golden retriever","legs":"4","age":"3"} #adding keys and values
Student = {} #creating student dictionary
Student = { "first_name":"Niharika","last_name":"jogi","gender":"Female","age":"22","marital status":"unmarried","skills":["dancer","singer"],"country":"india","city":"Hyderabad","address":"apt 157"}
length = len(Student) #length of dict
print("length of Student dictionary is :",  length)
value = Student['skills'] #getting the values of skills
print("value of skills are " ,value)
print("datatype of skills is list :", type(['skills']) is list) #checking datatype of skills is list
Student["skills"]+=["Cook", "artist"] # modifying the values of skills
print("Modified Skills are :" , Student["skills"])
print("Student Dictionary Keys as list : " , Student.keys()) #getting the dict keys as a list
print("dog Dictionary Keys as list :" , dog.keys()) 
Student_Key_list = list(Student.values()) #getting the dict values as a list
print("Student dictionary values as list :",  Student_Key_list)
Student_Key_list = list(dog.values())
print("dog dictionary values as list :",  Student_Key_list)

length of Student dictionary is : 9
value of skills are  ['dancer', 'singer']
datatype of skills is list : True
Modified Skills are : ['dancer', 'singer', 'Cook', 'artist']
Student Dictionary Keys as list :  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dog Dictionary Keys as list : dict_keys(['name', 'color', 'breed', 'legs', 'age'])
Student dictionary values as list : ['Niharika', 'jogi', 'Female', '22', 'unmarried', ['dancer', 'singer', 'Cook', 'artist'], 'india', 'Hyderabad', 'apt 157']
dog dictionary values as list : ['cassie', 'black', 'golden retriever', '4', '3']

In [ ]:
#Question 3-program

brothers = ("nikhil" , "vamshi")
sisters = ("geetha", "sita")
Siblings = sisters + brothers #aissigning brothers and sis to siblings
print("Siblings  are:" , Siblings)
print("I have",  len(Siblings) , "of siblings") # how many siblings i have
Siblings = Siblings + ("radha", "veerappa")#adding mother father to sibling  tuple
print("adding mother and father name to siblings:" , Siblings)
Family_members = Siblings
print(" family members are :" , Family_members)

Siblings  are: ('geetha', 'sita', 'nikhil', 'vamshi')
I have 4 of siblings
adding mother and father name to siblings: ('geetha', 'sita', 'nikhil', 'vamshi', 'radha', 'veerappa')
 family members are : ('geetha', 'sita', 'nikhil', 'vamshi', 'radha', 'veerappa')

In [10]:
#Question 4-program

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
length = len(it_companies)
print("length of it companies:" , length)
it_companies.add('twitter')
print("After adding twitter to it companies:" , it_companies)
it_companies.update(['HCL', 'wipro', 'accenture'])
print("After uadding the new companies:" , it_companies)
it_companies.remove("accenture")
print("After removing the any of the company:" , it_companies)
#What is the difference btw remove and discard
#Remove will  returns a error when the element is not present in our set where as, Discard will not returns any error  it simply displays the  whole set
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print("joining a and b :" , C)
D = A.intersection(B)
print("intersection of A and B :" , D)
print("Is A is subset of B:" , A.issubset(B))
print("IS A is disjoint set of B:" , A.isdisjoint(B))
D = A.union(B)
print("joining A with B:" , D)
E = B.union(A)
print("joining B with A:" , E)
Symmetric_difference = A.symmetric_difference(B) #returns all the elements  except the elements which are same
print("symmetric difference of a and b :", Symmetric_difference)
A.clear()
B.clear()
print("after deleting the sets compltely:" , (A,B))
age = [22, 19, 24, 25, 26, 24, 25, 24] 
age_set = set(age) #converting ages to set
print("conversion of age to set :" , age_set)
length_age = len(age)
length_age_set = len(age_set)
print("lengths of list and set respectively:" , length_age, length_age_set)
Size = (length_age == length_age_set) 
print("Are the sizes are equal:" , Size)
print("comparing by doing the difference between list and set  :" ,  length_age -length_age_set)

length of it companies: 7
After adding twitter to it companies: {'Apple', 'Facebook', 'Google', 'Oracle', 'Microsoft', 'twitter', 'IBM', 'Amazon'}
After uadding the new companies: {'Apple', 'Facebook', 'Google', 'Oracle', 'Microsoft', 'twitter', 'HCL', 'IBM', 'accenture', 'wipro', 'Amazon'}
After removing the any of the company: {'Apple', 'Facebook', 'Google', 'Oracle', 'Microsoft', 'twitter', 'HCL', 'IBM', 'wipro', 'Amazon'}
joining a and b : {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A and B : {19, 20, 22, 24, 25, 26}
Is A is subset of B: True
IS A is disjoint set of B: False
joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference of a and b : {27, 28}
after deleting the sets compltely: (set(), set())
conversion of age to set : {19, 22, 24, 25, 26}
lengths of list and set respectively: 8 5
Are the sizes are equal: False
comparing by doing the difference between list and set  : 3

In [ ]:
#Question 5-program

radius = int(input('Enter the radius:')) #taking user input
print("radius of circle:", radius)
area_of_circle =  3.14*radius*radius
print("Area of circle: " , area_of_circle)
circumference_of_circle = 2*3.14*radius
print("circumference of circle:", circumference_of_circle )

Enter the radius:30
radius of circle: 30
Area of circle:  2826.0
circumference of circle: 188.4

In [ ]:
#Question 6-program

Sentence = "I am a teacher and I love to inspire and teach people"
Unique_words = set(Sentence.split()) #converting sentence to  set ans split is used for seperating the strings in the sentence
print("unique words are:" , Unique_words)
print("Number of unique words:" ,len(Unique_words))

unique words are: {'teacher', 'and', 'inspire', 'a', 'people', 'love', 'teach', 'am', 'to', 'I'}
Number of unique words: 10

In [ ]:
#Question 7-program

String = "Name\t\tAge\t\tCountry\t\tCity\nniharika\t22\t\tindia\t\tHyderabad" # \t is used to get the  tab space between the words and \n for next line
print(String)

Name		Age		Country		City
niharika	22		india		Hyderabad

In [ ]:
#Question 8-program

radius = 10
area = 3.14 * radius ** 2
print(" The area of a circle with radius %s is %s meters square." %(radius,area)) #using modulo method (%) doing string formatting

 The area of a circle with radius 10 is 314.0 meters square.